<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse"></div>
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated"
            ><a [routerLink]="['/Recipes']"> 
            Recipes</a>
        </li>
            <li [routerLinkActive]="'active'"
            ><a [routerLink]="['/ShoppingList']"> 
            Shopping list</a>
        </li>
        <li [routerLinkActive]="'active'" *ngIf="!isAuthenticated"
        ><a [routerLink]="['/Authentication']"> 
            Authentication</a>
    </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="cursor: pointer;" *ngIf="isAuthenticated" ><a (click)="logout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" appDropdown *ngIf="isAuthenticated">
            <li class="dropdown"></li>
            <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu" style="cursor: pointer;"> 
                <li (click)="saveData()"><a> save data</a></li>
                <li (click)="fetchData()"><a> fetch data</a></li>
            </ul>

        </ul>
    </div>
</nav>